# Pandas Series
## Exercises Part I.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
print(fruits)


fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
)

['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple', 'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi', 'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry', 'papaya']

1. Determine the number of elements in fruits.

In [3]:
fruits.size

17

2. Output only the index from fruits.

In [4]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [5]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

3. Output only the values from fruits.

In [6]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [7]:
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [8]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [9]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [10]:
fruits.head(2)

0     kiwi
1    mango
dtype: object

In [11]:
fruits.tail(1)

16    papaya
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [12]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [13]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [14]:
fruits.value_counts()

kiwi                4
mango               2
blackberry          1
gooseberry          1
strawberry          1
honeydew            1
watermelon          1
blueberry           1
honeycrisp apple    1
pineapple           1
tomato              1
papaya              1
gala apple          1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [15]:
fruits.value_counts().nlargest(n = 1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [16]:
fruits.value_counts().nsmallest(n = 1, keep = 'all')

blackberry          1
gooseberry          1
strawberry          1
honeydew            1
watermelon          1
blueberry           1
honeycrisp apple    1
pineapple           1
tomato              1
papaya              1
gala apple          1
dtype: int64

## Exercises Part II

1. Capitalize all the string values in fruits.

In [17]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [18]:
fruits[fruits.str.contains('a')].str.count('a')

1     1
2     1
3     1
4     3
5     1
6     1
7     1
12    1
14    1
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [29]:
fruits[fruits.str.contains('a')].str.count('a'),fruits[fruits.str.contains('e')].str.count('e'),fruits[fruits.str.contains('i')].str.count('i'),fruits[fruits.str.contains('o')].str.count('o'),fruits[fruits.str.contains('u')].str.count('u'),

(1     1
 2     1
 3     1
 4     3
 5     1
 6     1
 7     1
 12    1
 14    1
 16    3
 dtype: int64,
 2     1
 3     2
 4     1
 5     2
 7     2
 8     2
 13    2
 14    1
 15    2
 dtype: int64,
 0     2
 3     1
 5     1
 9     2
 10    2
 11    2
 dtype: int64,
 1     1
 5     1
 6     2
 7     1
 8     1
 12    1
 15    2
 dtype: int64,
 13    1
 dtype: int64)

4. Write the code to get the longest string value from fruits.

In [20]:
longest_fruits = max(fruits, key=len)
print(longest_fruits)

honeycrisp apple

In [36]:
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

5. Write the code to get the string values with 5 or more letters in the name.

In [37]:
fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [22]:
fruits[fruits.apply(lambda row: row.count('o') >= 2)]

6         tomato
15    gooseberry
dtype: object

7. Write the code to get only the string values containing the substring "berry".

In [23]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [24]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [38]:
fruits.apply(count_vowels)

NameError: name 'count_vowels' is not defined